@{
    ViewData["Title"] = "Login";
    var culture = CultureInfo.CurrentCulture.Name;
}

<ul class="breadcrumb">
    <li><a href="index.html"><localize>Home</localize></a> <span class="divider">/</span></li>
    <li class="active"><localize>Login</localize></li>
</ul>
<h3><localize>Login</localize></h3>
<hr class="soft" />

<div class="row">
    <div class="span4">
        <div class="well">
            <h5><localize>CREATE YOUR ACCOUNT</localize></h5><br />
            <localize>Enter your e-mail address to create an account.</localize><br /><br /><br />
            <form action="register.html">
                <div class="control-group">
                    <label class="control-label" for="inputEmail0">Name</label>
                    <div class="controls">
                        <input class="span3" type="text" name="UserName" placeholder="Email">
                    </div>
                </div>
                <div class="controls">
                    <button type="submit" class="btn block"><localize>Create Your Account</localize></button>
                </div>
            </form>
        </div>
    </div>
    <div class="span1"> &nbsp;</div>
    <div class="span4">
        <div class="well">
            <h5><localize>ALREADY REGISTERED ?</localize></h5>
            <form action="/@culture/Account/Login" method="post">
                <div class="control-group">
                    <label class="control-label" for="inputEmail1">Email</label>
                    <div class="controls">
                        <input class="span3" type="text" name="UserName" placeholder="Email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1">Password</label>
                    <div class="controls">
                        <input type="password" class="span3" name="Password" placeholder="Password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn"><localize>Sign in</localize></button> <a href="forgetpass.html"><localize>Forget password?</localize></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>