@model ViewModels.System.User.LoginRequest
@{
    ViewData["Title"] = "Login";
    var culture = CultureInfo.CurrentCulture.Name;
}

<ul class="breadcrumb">
    <li><a href="index.html"><localize>Home</localize></a> <span class="divider">/</span></li>
    <li class="active"><localize>Login</localize></li>
</ul>
<h3><localize>Loginn</localize></h3>
<hr class="soft" />

<div class="row">

    <div class="span8">
        <div class="well">
            @*<h5><localize>ALREADY REGISTERED ?</localize></h5>*@
            <form action="/@culture/Account/Login" method="post">
                <div asp-validation-summary="All" class="text-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail1"><localize>User Name</localize></label>
                    <div class="controls">
                        <input class="span3" type="text" asp-for="UserName">
                        @*<span asp-validation-for="UserName" class="text-error"></span>*@
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword1"><localize>Password</localize></label>
                    <div class="controls">
                        <input type="password" class="span3" asp-for="Password">
                        @*<span asp-validation-for="Password" class="text-error"></span>*@
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn"><localize>Sign in</localize></button>
                    </div>
                    <div class="controls">
                        <a href="forgetpass.html"><localize>Forget password?</localize></a>
                        <a href="/@culture/Account/Register"><localize>Create Your Account</localize></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>